@model Reserva_de_equipos.Models.TipoEquipo

<div class="modal fade" id="crearTipoEquipoModal" tabindex="-1" aria-labelledby="crearTipoEquipoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-2 py-3">
        <h5 class="modal-title" id="crearTipoEquipoModalLabel">Crear tipo de equipo</h5>
      </div>
      <div class="modal-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data" novalidate class="modal-form p-1">
          @Html.AntiForgeryToken()
          <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

          <div class="mb-3">
            <label asp-for="Nombre" class="form-label">Nombre (*)</label>
            <input asp-for="Nombre" class="form-control" autocomplete="off" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label asp-for="Descripcion" class="form-label">Descripción</label>
            <textarea asp-for="Descripcion" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
          </div>

          <div class="mb-2">
              <label class="form-label">Ícono (PNG/JPG/SVG)</label>
              <input type="file" name="icon" accept="image/*" class="form-control" />
          </div>

          <small class="form-text text-muted">
              El icono debe ser una imagen (png/jpg/svg) y no debe superar 512KB.
          </small>

          <div class="d-flex justify-content-end align-items-center gap-2 pt-2">
            <button type="submit" class="btn btn-primary px-4">Guardar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
